<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.JoMapper">

	<select id="selectList" resultType="com.example.demo.domain.JoDTO">
		select j.jno, j.jname, captain, m.name cname, project, slogan from jo j join member m ON m.id = j.captain
	</select>

	<select id="selectOne" resultType="com.example.demo.domain.JoDTO">
		select * from jo where jno = #{jno}
	</select>
	
	<insert id="insert">
		insert into jo value(#{jno}, #{jname}, #{captain}, #{project}, #{slogan})
	</insert>
	
	<update id="update">
		update jo set jname=#{jname}, captain=#{captain}, project=#{project}, slogan=#{slogan} where jno=#{jno}
	</update>
	
	<delete id="delete">
		delete from jo where jno = #{jno}
	</delete>
	
</mapper>